.table{
  margin: 0 auto;
}

th{
  width:150px;
  height:50px;
  background-color:lightblue;
}

@media (max-width:650px) {
  th{
    width: 100px;
  }
}

@media (max-width:450px) {
  th{
    width: 70px;
  }
}